datasets/linemod/Linemod_preprocessed
datasets/ycb/YCB_Video_Dataset
*.zip
*__pycache__
experiments/logs/*
*.pyc
lib/knn/knn_pytorch/__pycache__/*
__init__.*
*.pth
YCB_Video_toolbox

install/
build/
log/
benchmark-ouputs/
densefusion_ros/densefusion_vis/
datasets/ycb-test-data/
robot_arm_grasping_with_pose_estimation/

.vscode/